[submodule "c_macro_variable_git_relation"]
	path = c_macro_variable_git_relation
	url = git@github.com:tamofplease/c_macro_variable_git_relation.git

[submodule "c_project_fetcher"]
	path = c_project_fetcher
	url =  git@github.com:tamofplease/c_project_fetcher.git