[submodule "c_project_fetcher"]
	path = c_project_fetcher
	url =  git@github.com:tamofplease/c_project_fetcher.git
[submodule "c_project_preprocessor"]
	path = c_project_preprocessor
	url = git@github.com:tamofplease/c_project_preprocessor.git
